.ColorBox {
  cursor:                pointer;
  display:               grid;
  font-size:             1rem;
  grid-template-rows:    17rem 3rem;
  grid-template-columns: 9rem 11rem;
  grid-template-areas:   "copy ." "title more";
  height:                20rem;
  letter-spacing:        .2rem;
  text-transform:        uppercase;
  width:                 20rem;

  &__content {

    &--color-name {
      grid-area:   title;
      margin-left: 1rem;
    }
  }

  &__button {

    &--copy {
      background-color: rgba(255, 255, 255, 0.3);
      border:           none;
      color:            white;
      cursor:           pointer;
      grid-area:        copy;
      height:           3rem;
      opacity:          0;
      place-self:       center;
      position:         absolute;
      text-transform:   uppercase;
      width:            10rem;
    }

    &--see-more {
      background-color: rgba(255, 255, 255, 0.3);
      border:           none;
      color:            white;
      grid-area:        more;
      justify-self:     end;
      text-decoration:  none;
      width:            6rem;
      z-index:          1;
    }
  }

  &:hover { //Make copy button appear when box is hovered
    .ColorBox__button--copy {
      opacity:    1;
      transition: 0.2s ease-in;
    }
  }

  &__overlay {
    height:     20rem;
    opacity:    0;
    position:   relative;
    transition: height .3s;
    width:      20rem;
    z-index:    0;
  }

  &__active {
    height:   100vh;
    left:     0;
    opacity:  1;
    position: absolute;
    top:      0;
    width:    100vw;
    z-index:  1000;

    &--message {

      &-active {
        color:       white;
        font-size:   10rem;
        left:        50%;
        position:    absolute;
        text-shadow: 3px 6px 1px black;
        text-align:  center;
        top:         50%;
        transform:   translate(-50%, -50%);
        z-index:     1001;
      }
    }
  }
}
