.Drawer {
  background-color: #555;
  bottom:           -55rem;
  display:          flex;
  flex-direction:   column;
  height:           auto;
  position:         fixed;
  transition:       bottom .3s;
  width:            100%;

  &__header {
    background-color: #888;
    height:           2rem;
    text-align:       center;
    line-height:      6rem;
    font-size:        1.6rem;
    width:            100%;
  }

  &__contents--container {
    display:               grid;
    grid-template-columns: auto auto auto;
    justify-content:       space-between;
  }

  &__container--form {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
  }

  &__input {
    border:           none;
    border-bottom:    1px solid white;
    background-color: #555;
    color:            white;
    grid-area:        colorName / span 2;
    font-size:        1.6rem;
    height:           4rem;
    margin-bottom:    5rem;
    outline:          none;
    text-align:       center;
    width:            31rem;

    &:invalid {
      border:        none;
      border-bottom: 1px solid black;
      box-shadow:    none;
      margin-bottom: 0;
      outline:       none;
    }
  }

  &__button {
    border:        none;
    border-bottom: 1px solid black;
    height:        3rem;
    width:         49.9%;

    &--container {
      display:               grid;
      grid-template-columns: auto auto;
      grid-template-rows:    auto auto;
      grid-template-areas:   "colorName ." "addColor randomizeColor";
    }

    &--delete-palette {
      align-self:       center;
      background-color: #E72D2D;
      border:           none;
      border-radius:    4px;
      box-shadow:       0 0 1rem #E72D2D;
      color:            white;
      font-size:        1.6rem;
      height:           100%;
      text-shadow:      0 0 1rem white;
      width:            23rem;
    }

    &--add-color {
      border:        none;
      border-radius: 2px;
      font-size:     1.3rem;
      grid-area:     addColor;
      width:         13rem;
    }

    &--randomize-color {
      border:           none;
      background-color: #222;
      border-radius:    2px;
      color:            white;
      font-size:        1.3rem;
      grid-area:        randomizeColor;
      height:           5rem;
    }
  }

}

.Drawer__OPEN {
  bottom: 0;
}
