.Drawer {
  background-color: #984242;
  width:            25rem;
  height:           60rem;

  &__header {
    background-color: #888;
    height:           6rem;
    text-align:       center;
    line-height:      6rem;
    font-size:        1.6rem;
  }
}



