@keyframes fadeDown {
  0% {
    opacity: 0;
    //transform: translate(0, 0);
    z-index: -1;
  }
  100% {
    opacity: 1;
    //transform: translate(0, 4rem);
    z-index: 1;
  }
}


.DropDown {
  background-color: #ED5858;
  border-radius:    4px;
  box-shadow:       0 0 1rem #ED5858;
  color:            white;
  cursor:           pointer;
  font-size:        1.6rem;
  height:           4rem;
  line-height:      4rem;
  text-align:       center;
  text-shadow:      0 0 1rem white;
  width:            20rem;

  &__text {
    z-index: 2;
  }

  &__menu {
    align-items:     center;
    display:         none;
    flex-direction:  row;
    justify-content: center;
    position:        relative;
    top:             -4rem;
    transition: top 0.3s, z-index 0.1s;

    .DropDownItem {

      transition: opacity 0.5s cubic-bezier(0, -.3);
    }

    &--active {
      display:flex;
      top: 0;
      z-index: 1;


      .DropDownItem {
        animation: fadeDown 0.2s ease-in;

      }
    }
  }
}

