.NavBar {
  align-items:      center;
  background-color: #444;
  display:          flex;
  flex-direction:   row;
  height:           10rem;
  justify-content:  center;

  &__container {
    display:         flex;
    flex-direction:  row;
    align-items:     center;
    width:           100rem;
    justify-content: space-between;

    @media screen and (max-width: 620px) {
      min-width: 40rem;
      width:     100vw;
    }

  }

  &__logo {
    &--container {
      font-size: 3.5rem;
      width:     10rem;

      a {
        text-decoration: none;
      }
    }

    &--text {
      font-family:     "Pacifico", cursive;
      text-decoration: none;
    }
  }

  &__slider {
    width: 20rem;
  }

}

.rc-slider-track {
  background-color: #B83A3A;
}

.rc-slider-rail {
  background-color: black;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: #ED5858;
  border:           none;
  box-shadow:       none;
  height:           2rem;
  margin-top:       -.8rem;
  outline:          none;
  width:            2rem;
}



