.NewPaletteForm {

  &__button {

    &--open-palette-designer,
    &--create-palette {
      border:        none;
      border-radius: 4px;
      cursor:        pointer;
      font-size:     1.6rem;
      height:        4rem;
      line-height:   4rem;
      text-align:    center;
      width:         20rem;
    }

    &--create-palette {
      background-color: #1B8F17;
      box-shadow:       0 0 5px #2BEB25;
      color:            white;
      text-shadow:      1px 1px 1rem #2BEB25;
    }

    &--open-palette-designer {
      background-color: #874288;
      box-shadow:       0 0 1rem #874288;
      color:            white;
      text-shadow:      1px 1px 10px white;
    }

  }

  &__input {

    &--palette-name {
      background:    #444444;
      border:        none;
      border-bottom: 1px solid white;
      color:         white;
      font-size:     1.6rem;
      height:        4rem;
      outline:       none;
      text-align:    center;
    }

  }

  &__color-picker {
    margin-top: 5rem;
  }

  &__body--container {
    display:               grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content:       center;
    margin-top:            4rem;
  }

  &__colors {
    align-content:         start;
    display:               grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content:       start;
    width:                 100%;
  }
}

.chrome-picker {
  font-family: inherit !important;
  width:       26rem !important;
  margin:      0 auto;
}
