.Palette {
  display:            grid;

  &__header {
    color:         white;
    font-size:     1.6rem;
    margin:        2rem;
    text-align:    center;
  }

  &__colors {
    display:               grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content:       center;
  }

}
