.PaletteList {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 30rem 30rem 30rem;
  justify-content: center;

  :link,
  :visited {
    color:black;
    text-decoration: none;
  }
}