.Palette {

  &__colors {
    align-content:         center;
    display:               grid;
    grid-template-columns: 20rem 20rem 20rem 20rem 20rem;
    height:                100vh;
    justify-content:       center;
  }

}