@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url(../Icons/css/fontello.css);
@import url(../Icons/css/fontello-codes.css);
@import url(../Icons/css/fontello-embedded.css);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #333;
  box-sizing: border-box; }

.Palette {
  display: grid; }
  .Palette__header {
    color: white;
    font-size: 1.6rem;
    margin: 2rem;
    text-align: center; }
  .Palette__colors {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center; }

.NavBar {
  align-items: center;
  background-color: #444;
  display: flex;
  flex-direction: row;
  height: 10rem;
  justify-content: center; }
  .NavBar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100rem;
    justify-content: space-between; }
  .NavBar__logo--container {
    font-size: 3.5rem;
    width: 10rem; }
    .NavBar__logo--container a {
      text-decoration: none; }
  .NavBar__logo--text {
    font-family: "Pacifico", cursive;
    text-decoration: none; }
  .NavBar__slider {
    width: 20rem; }

.rc-slider-track {
  background-color: #B83A3A; }

.rc-slider-rail {
  background-color: black; }

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: #ED5858;
  border: none;
  box-shadow: none;
  height: 2rem;
  margin-top: -.8rem;
  outline: none;
  width: 2rem; }

.ColorBox {
  cursor: pointer;
  display: grid;
  font-size: 1rem;
  grid-template-rows: 17rem 3rem;
  grid-template-columns: 9rem 11rem;
  grid-template-areas: "copy ." "title more";
  height: 20rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  width: 20rem; }
  .ColorBox__content--color-name {
    grid-area: title;
    margin-left: 1rem; }
  .ColorBox__button--copy {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    cursor: pointer;
    grid-area: copy;
    height: 3rem;
    opacity: 0;
    place-self: center;
    position: absolute;
    text-transform: uppercase;
    width: 10rem; }
  .ColorBox__button--see-more {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    grid-area: more;
    justify-self: end;
    text-decoration: none;
    width: 6rem;
    z-index: 1; }
  .ColorBox:hover .ColorBox__button--copy {
    opacity: 1;
    transition: 0.2s ease-in; }
  .ColorBox__overlay {
    height: 20rem;
    opacity: 0;
    position: relative;
    transition: height .3s;
    width: 20rem;
    z-index: 0; }
  .ColorBox__active {
    height: 100vh;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1000; }
    .ColorBox__active--message-active {
      color: white;
      font-size: 10rem;
      left: 50%;
      position: absolute;
      text-shadow: 3px 6px 1px black;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1001; }

.DropDown {
  background-color: #ed5858;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  width: 20rem; }
  .DropDown__menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.DropDownItem {
  background: #fde830;
  width: 18rem;
  z-index: 1; }
  .DropDownItem:not(:last-child) {
    border-bottom: 1px solid gray; }
  .DropDownItem:hover {
    background-color: orange; }

.PaletteList__container {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding: 5rem 0; }
  @media screen and (max-width: 940px) {
    .PaletteList__container {
      grid-template-columns: auto auto; } }
  @media screen and (max-width: 620px) {
    .PaletteList__container {
      grid-template-columns: auto; } }

.PaletteList__link--new-palette {
  background-color: #555;
  box-shadow: none !important;
  border-radius: 4px;
  color: white !important;
  cursor: pointer;
  font-size: 1.5rem;
  height: 4rem;
  width: 20rem;
  line-height: 4rem;
  text-align: center;
  margin-right: 3rem; }

.PaletteList :link,
.PaletteList :visited {
  box-shadow: 5px 5px 10px black;
  color: black;
  text-decoration: none; }

.SingleColorPalette {
  display: grid;
  grid-template-rows: 13rem auto; }
  .SingleColorPalette__header {
    color: white;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center; }
  .SingleColorPalette__colors {
    align-content: center;
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem 20rem;
    justify-content: center; }
    .SingleColorPalette__colors .ColorBox {
      height: 40rem;
      grid-template-rows: 37rem 3rem; }

.BackButton {
  background-color: #555;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  height: 4rem;
  width: 20rem; }

.Drawer {
  background-color: #555;
  bottom: -55rem;
  display: flex;
  flex-direction: column;
  height: auto;
  position: fixed;
  transition: bottom .3s;
  width: 100%; }
  .Drawer__header {
    background-color: #888;
    height: 6rem;
    text-align: center;
    line-height: 6rem;
    font-size: 1.6rem;
    width: 100%; }
  .Drawer__contents--container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between; }
  .Drawer__container--form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .Drawer__input {
    border: none;
    border-bottom: 1px solid white;
    background-color: #555;
    color: white;
    grid-area: colorName / span 2;
    font-size: 1.6rem;
    height: 4rem;
    margin-bottom: 5rem;
    outline: none;
    text-align: center;
    width: 31rem; }
    .Drawer__input:invalid {
      border: none;
      border-bottom: 1px solid black;
      box-shadow: none;
      margin-bottom: 0;
      outline: none; }
  .Drawer__button {
    border: none;
    border-bottom: 1px solid black;
    height: 3rem;
    width: 49.9%; }
    .Drawer__button--container {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "colorName ." "addColor randomizeColor"; }
    .Drawer__button--delete-palette {
      align-self: center;
      background-color: #E72D2D;
      border: none;
      border-radius: 4px;
      font-size: 1.6rem;
      height: 100%;
      width: 23rem; }
    .Drawer__button--add-color {
      border: none;
      border-radius: 2px;
      font-size: 1.3rem;
      grid-area: addColor;
      width: 13rem; }
    .Drawer__button--randomize-color {
      grid-area: randomizeColor;
      border: none;
      background-color: burlywood;
      border-radius: 2px;
      height: 5rem;
      font-size: 1.3rem; }

.Drawer__OPEN {
  bottom: 0; }

.NewPaletteForm__button--open-palette-designer, .NewPaletteForm__button--create-palette {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  width: 20rem; }

.NewPaletteForm__button--create-palette {
  background-color: #1b8f17;
  box-shadow: 0px 0px 5px #2beb25;
  color: white;
  text-shadow: 1px 1px 7px #2beb25; }

.NewPaletteForm__button--open-palette-designer {
  background-color: #777777;
  color: #d5d5d5;
  text-shadow: 1px 1px 6px #bbb;
  box-shadow: 0 0 5px #bbb; }

.NewPaletteForm__input--palette-name {
  background: #444444;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1.6rem;
  height: 4rem;
  outline: none;
  text-align: center; }

.NewPaletteForm__color-picker {
  margin-top: 5rem; }

.NewPaletteForm__body--container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  margin-top: 4rem; }

.NewPaletteForm__colors {
  align-content: start;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: start;
  width: 100%; }

.chrome-picker {
  font-family: inherit !important;
  width: 26rem !important;
  margin: 0 auto; }
