*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.Palette__colors {
  align-content: center;
  display: grid;
  grid-template-columns: 20rem 20rem 20rem 20rem 20rem;
  height: 100vh;
  justify-content: center; }

.ColorBox {
  cursor: pointer;
  display: grid;
  font-size: 1rem;
  grid-template-rows: 17rem 3rem;
  grid-template-columns: 12rem 8rem;
  grid-template-areas: "copy ." "title more";
  height: 20rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  width: 20rem; }
  .ColorBox__content--color-name {
    grid-area: title;
    margin-left: 1rem; }
  .ColorBox__button--copy {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    cursor: pointer;
    grid-area: copy;
    height: 3rem;
    opacity: 0;
    place-self: center;
    position: absolute;
    text-transform: uppercase;
    width: 10rem; }
  .ColorBox__button--see-more {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    grid-area: more;
    justify-self: end;
    width: 6rem; }
  .ColorBox:hover .ColorBox__button--copy {
    opacity: 1;
    transition: 0.2s ease-in; }
